<form action="/create" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Enter recipe name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="description">Enter the description: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Submit!">
  </div>
</form>
